.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    background-color: #0d6efd;
}

#Features{
    background-color: bisque;
}

body {
    font-family: "Lato", sans-serif;
  }
